html {
    /* bg = background */
    --bg-color-header: #1A1A1A;
    --bg-color-body: #2A2A2A;
    --bg-color-navbar: black;
    --bg-color-footer: #262626;
    --bg-color-default-content: #2A2A2A;
    --bg-color-single-content: #1c1c1c;
    --bg-color-hr: #D2D6D6;
    --bg-color-resizer: rgb(100, 100, 100);

    /* txt = text */
    --txt-title: rgb(124, 30, 30);
    --txt-default-white: #D2D6D6;
    --txt-default-black: #1A1A1A;
    --txt-link: rgba(255, 100, 10, 0.7);
    --txt-link-hover: rgb(250, 150, 0);
    --txt-border-color-footer: #dc3545;

    --border-color-default: rgb(100, 100, 100);
    --border-color-default-red: rgb(124, 30, 30);
    
    --font-medieval: "Black Castle MF";
    --font-grotesk: "SpaceGrotesk-Regular";
}

@font-face {
    font-family: 'Black Castle MF';
    font-weight: 600;
    font-display: auto;
    src: url('../assets/fonts/BlackCastleMF.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    font-weight: 400;
    font-display: auto;
    src: url('../assets/fonts/SpaceGrotesk-Regular.ttf');
}

/* 
 * Structure of page.
 */

.col-0 { width: 4.165%; }
.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        float: none;
        width: 100%;
        padding: 15px;
    }
}

@media only screen and (min-width: 768px) {
    [class *="col-"] {
        float: left;
    }
}

/*
 * General
 */

body, footer {
    font-family: var(--font-grotesk), Helvetica, sans-serif;
}
 
* {
    box-sizing: border-box; /* Let's make dealing with the sizes of elements easier. */
}

header *, footer *, nav * {
    user-select: none; /* Remove the ability to select in these instances. */
}

a {
    color: var(--txt-link);
}

a:hover {
    color: var(--txt-link-hover);
}

/*
 * Core elements (header, body, footer) 
 */

header {
    background-color: var(--bg-color-header);

    align-items: center;

    height: 120px;
    
    display: flex;    
    justify-content: start;
}

header img {
    width: 100px;
    height: 100px;
    
    margin: 0px 30px;
    border: 5px outset var(--txt-title);
    border-radius: 50%;
}

header h1 {
    font-size: xxx-large;
    font-family: var(--font-medieval), Helvetica, sans-serif;
    
    color: var(--txt-title);
}

body {
    background: var(--bg-color-body);
    margin: 0;
    display: inline-block;
}

footer {
    font-size: large;

    color: var(--txt-default-white);
    background-color: var(--bg-color-single-content);

    text-align: center;

    padding: 15px 0px;
    border-top: 3px solid var(--txt-title);
}

footer li {
    margin: 0px 15px;
    padding: 10px;
    border: 2px dashed var(--border-color-default-red);
    
    display: inline-block;
}

footer li a {
    color: var(--txt-border-color-footer);
    text-decoration: none;
}

/* Let's avoid items stacking directly on top of each other. */
@media only screen and (max-width: 912px) /* magic number of pixels found using browser console. */
{
    footer li {
        margin: 15px;
    }
}

/*
 * Navigation Bar
 */

nav {
    position: sticky;
    top: 0px;
}

nav > ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
    display: flex; /* Make the elements stand orizontally one next to the other. */
}

nav > ul > li {
    text-align: center;
    width: 100%; /* Make the elements of the nav use all the available space. */
}

nav > ul > li > a {
    font-size: large;
    background-color: var(--bg-color-navbar);
    text-decoration: none;
    height: 100%;
    padding: 18px;
    display: block; /* Extend the nav element's boxes. */
}

nav > ul > li > a.current-page {
    font-weight: bold;
    background-color: var(--bg-color-default-content);
}

/*
 * Actual content.
 */

main, aside {
    padding: 20px;
}

.classic-text {
    font-style: normal;
    font-size: small;

    color: var(--txt-default-white);
}

.classic-text-bigger {
    font-style: normal;
    font-size: 15px;

    color: var(--txt-default-white);
}

.content {
    transition: 0.3s;
}

.content article {
    background-color: var(--bg-color-single-content);

    border: 1px solid var(--border-color-default);
    
    padding: 1% 3%;
}

.content > article > h2::after, .about-entry > h2::after, .sell-items > h2::after {
    background-color: var(--border-color-default);
    
    height: 1px;

    margin: 10px 0px;
    
    display: block;
    content: "";
}

.content#main-content > img {
    width: 100%;
}

.content > article {
    margin-bottom: 30px;
}

/*
 * Letter-resizer & Sponsors column.
 */

aside.right-panel > section {
    background-color: var(--bg-color-single-content);

    margin-bottom: 20px;
    padding: 6% 4%;
    border: 1px solid grey;

    text-align: center;
}

aside.right-panel > section > h2 {
    margin-top: 0px;
}

aside.right-panel > section#resizer > button {
    font-size: xx-large;

    color: var(--txt-default-white);
    background-color: var(--bg-color-default-content);
    
    width: 80px;
    height: 80px;
    
    border: 5px solid var(--border-color-default);
    border-radius: 50%;
}

aside.right-panel > section#resizer > button:hover {
    background-color: var(--bg-color-resizer);
}

aside.right-panel > section > img {
    width: 160px;
    height: 160px;

    border-radius: 25px;
}

.banner {
    background: repeating-linear-gradient(20deg, #202020 40px, var(--bg-color-header) 90px);
}

.banner-inverted {
    background: repeating-linear-gradient(-20deg, #202020 40px, var(--bg-color-header) 90px);
}

.about {
    margin: 0px 10%;

    justify-content: space-between;
    display: flex;
}

.about-entry {
    background-color: var(--bg-color-single-content);

    width: 45%;

    padding: 4%;
    border: 1px solid var(--border-color-default);

    text-align: center;
}

.about-entry img {
    min-height: 180px;
    max-height: 180px;
    min-width: 180px;
    max-width: 180px;

    border: 10px inset var(--border-color-default);
    border-radius: 50%;
}

form textarea, form input, form select {
    color: var(--txt-default-white);
    background-color: var(--bg-color-body);
    
    width: 100%;
    
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid var(--border-color-default);
    
    display: block;
}

form textarea {
    max-height: 200px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
}

form > input#item_submit {
    margin-top: 40px;
}

form > input#item_submit:hover {
    background-color: var(--border-color-default-red);
}