html {
    --bg-header: #1A1A1A;
    --bg-body: radial-gradient(circle farthest-side at center, black 0%, #2A2A2A 100%);
    --bg-navbar: black;
    --bg-default-content: #2A2A2A;


    --txt-color-nb: rgba(255, 100, 10, 0.7);
    --txt-color-nb-hover: rgb(250, 150, 0);
    --txt-title: linear-gradient(to right, rgb(124, 30, 30) 0%, rgba(124, 30, 30, 0.6) 50%, rgb(124, 30, 30) 100%);
    --txt-regular-color: #D2D6D6;

    --brdr-color-content: rgb(124, 30, 30);
    --brdr-color-sponsors: rgb(100, 100, 100);

    --brdr-common-radius: 25px;

    --navbar-height: 60px;

    --logo-width: 150px;
    --logo-height: 80px;
}

@font-face {
    font-family: 'Black Castle MF';
    font-weight: 600;
    font-display: auto;
    src: url('../fonts/BlackCastleMF.ttf');
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg-body) no-repeat fixed;
}

/*
Header and its content
 */

header {
    background-color: var(--bg-header);
    justify-content: start;
    display: flex;
    height: 120px;
    align-items: center;
}

header * {
    user-select: none;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
    resize: none;
    padding-right: 15px;
    padding-left: 30px;
    user-select: none;
    -webkit-user-drag: none;
}

.title {
    background: var(--txt-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Black Castle MF", serif;
    font-size: xxx-large;
}

/*
Navigation Bar
 */

.navigation {
    background-color: var(--bg-navbar);
    height: var(--navbar-height);
    position: sticky;
    margin-bottom: 10px;
    z-index: 9999;
    top: 0;
    align-items: center;
    overflow: hidden;
}

.navigation > ul {
    display: flex;
    list-style: none;
    height: 100%;
}

.navigation > ul > li {
    width: 20%;
    text-align: center;
    height: 100%;
}

.navigation > ul > li > a {
    display: block;
    padding: 19px 14px;
    color: var(--txt-color-nb);
    height: 100%;
    width: 100%;
    background-color: var(--bg-navbar);
    border: none;
    font-size: large;
    font-family: sans-serif;
    user-select: none;
    text-decoration: none;
}

.navigation > ul > li > a:hover {
    color: var(--txt-color-nb-hover);
}

/*
Class for content and generic utility
 */

main {
    margin: 10px;
    display: flex;
}

.scroll-margin-main {
    margin-top: 70px;
}

.referenceable a{
    color: var(--txt-color-nb);
    text-underline-style: none;
    font-style: oblique;
}

.classic-text {
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    color: var(--txt-regular-color);
}

.content {
    border-style: solid;
    border-radius: var(--brdr-common-radius);
    border-width: 5px;
    border-color: var(--brdr-color-content);
    padding: 2%;
    background-color: var(--bg-default-content);
    margin: 10px;
}

article {
    position: relative;
}

.sponsors {
    border-style: solid;
    border-radius: var(--brdr-common-radius);
    border-width: 5px;
    border-color: var(--brdr-color-content);
    display: grid;
    position: relative;
    padding: 2%;
    justify-items: center;
    margin: 10px;
}

.sponsors > div {
    border-style: solid;
    border-radius: var(--brdr-common-radius);
    border-width: 5px;
    border-color: var(--brdr-color-sponsors);
    display: flex;
    width: 80%;
    padding: 2%;
    height: max-content;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 15%;
}

.sponsors > div > img {
    width: 50%;
    height: 20%;
}

.sponsors > div > img + p {
    margin-top: 10px;
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    color: var(--txt-regular-color);
}

.letter-resizer {
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-size: xx-large;
    width: 80px;
    height: 80px;
    color: var(--txt-regular-color);
    background-color: var(--bg-default-content);
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    border-color: var(--brdr-color-sponsors);
}

.resizer-container {
    padding: 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.letter-resizer:hover {
    background-color: white;
}